<div id="form-main clearfix">
  <div id="form-div">
  <p class="sub-title"><strong>新規登録</strong></p></br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <p class="name">
      <p>ニックネーム<%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'validate[required,custom[name]] feedback-input', id: 'name', placeholder: "Name" %></p>
    </p>

    <p class="email">
      <p>メールアドレス<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate[required,custom[email]] feedback-input', id: 'email', placeholder: "Email" %></p>
    </p>

    <p class="text">
      <p>パスワード
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "validate[required,length[6,300]] feedback-input", id: "comment", placeholder: "Password" %>
      </p>
    </p>

    <p class="text">
      <p>パスワード確認<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "validate[required,length[6,300]] feedback-input", id: "comment", placeholder: "Passwordconfirm" %></p>
    </p>

    <div class="actions">
      <%= f.submit "Sign up", id: "button-blue" %>
    </div>
  <% end %></br>
  </div>
</div>
</br></br>