<div class="container">
	<h4><strong>レシピ編集</strong></h4>
	</br></br>
	<div class="row">
		<%= form_for(@recipe) do |f| %>
			<p> レシピタイトル</p>
			<%= f.text_field :title %>

			<p> レシピイメージ</p>
			<%= f.attachment_field :image %>

			<p> レシピコメント</p>
			<%= f.text_area :body %>

			<p> <%= f.label :category_list, "カテゴリー(複数選択は , 区切り)" %></p>
			<%= text_field_tag 'recipe[category_list]', @recipe.category_list.join(',') %>

			<p> 調理時間</p>
			<%= f.text_field :time %>

			<p> コスト</p>
			<%= f.text_field :cost %>

			<p> 材料</p>
			<%= f.text_area :material %>

				<%= f.fields_for :orders do |a| %>

				<p>手順 <%= a.number_field :order_num, min:1, max:100 %></p>

				<p> イメージ <%= a.file_field :order_image %></p>

				<p>作り方</p>
				<%= a.text_area :order_body %>
				<% end %>
			<%= f.submit '次へ' %>
		<% end %>
	</div>
</div>