
<h2> レシピ投稿</h2>

<%= form_for @recipe, :url => { :controller => :recipes, :action => :create } do |f| %>

<p> レシピタイトル</p>
<%= f.text_field :title %>

<p> レシピイメージ</p>
<%= f.attachment_field :image %>

<p> レシピコメント</p>
<%= f.text_area :body %>

<p> 調理時間</p>
<%= f.text_field :time %>

<p> コスト</p>
<%= f.text_field :cost %>

<p> 材料</p>
<%= f.text_area :material %>

<%= f.submit '次へ' %>
<% end %>