<div class="container">
	<div class="row">
		<div class="col-md-4">
		<p> <%= @recipe.title %></p>
		<%= attachment_image_tag @recipe, :image, fallback: 'noimage.jpg', size: '150x150' %>
		<p>閲覧数: <%= @recipe.impressionist_count %></p>
		</div>
		<div class="col-md-8">
		<p>内容: <%= @recipe.body %></p>
		<p>調理時間: <%= @recipe.time %></p>
		<p>コスト: <%= @recipe.cost %></p>
		<p>投稿した人: <%= link_to @recipe.user.name, user_path(@recipe.user_id) %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4">
		<p class="btn btn-default">
		<%= link_to "お気に入りに追加", recipe_favorites_path(@recipe.id), method: :post, 
		:style => "text-decoration: none;" %>
		</p>
	</div>
	</div>
</div>

<!-- コメント機能 -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
		<div>
		    <h4>コメント</h4>
		    <div id="comments_area"><!-- #① -->
		      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
		      <%= render partial: 'comments/index', locals: { comments: @comments } %>
		    </div>  
		    <% if user_signed_in? %>
		      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
		      <%= render partial: 'comments/form', locals: { comment: @comment, recipe: @recipe } %>
		    <% end %>
		</div>
		</div>
	</div>
</div>