
	<div class="row">
		<p class="sub-title"><strong>ãƒ•ã‚©ãƒ­ãƒ¼ä¸€è¦§</strong></p></br>
		<% @users.each do |user| %>
		<div class="row">
		  	<div class="col-md-2">
		  	<%= link_to user_path(user.id) do %>
			  <p> <%= image_tag user.profile_image.to_s, size: '150x150', :style => "border-radius: 50%;" %></p></br>
			<% end %>
			</div>
			<div class="col-md-10">
			  <p class="follower-name"> <%= user.name %>
			  	<span class="follower-email-text"><%= user.email %></span>
			  </p>
			  <p class="follower-body-text"><%= user.introduction %></p></br>
		    <% if current_user != user %>
		        <% if user.followed_by?(current_user) %>
		            <p class="btn btn-danger btn-xs delete-follower">
		            	<i class="fas fa-trash-alt fa-lg"></i><%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼è§£é™¤", user_relationships_path(user.id), method: :delete, "data-confirm" => 'ãƒ•ã‚©ãƒ­ãƒ¼ãƒªã‚¹ãƒˆã‹ã‚‰å¤–ã—ã¾ã™ã‹ï¼Ÿ', 
		            	:style => "text-decoration: none; color: #FAFAFA;" %></p>
		        <% else %>
		            <p class="btn btn-default btn-xs">
		            	<%=link_to "ãƒ•ã‚©ãƒ­ãƒ¼ã™ã‚‹", user_relationships_path(user.id), method: :post, :style => "text-decoration: none;" %></p>
		        <% end %></br>
		    <% end %></br>
		    </br></br>
			</div>
		</div>
		<% end %>
		<div class="btn btn-default"><%= link_to 'ðŸ”™æˆ»ã‚‹', user_path(@user.id), style: "text-decoration: none;", class: "back-btn" %>
		</div>
	</div>
