<div class="container">
<% if @user.id == current_user.id %>
	<h3><strong>マイページ</strong></h3></br>
	<% else %>
	<h3><strong>ユーザーページ</strong></h3></br>
<% end %>
	<div class="row">
		<div class="col-md-3">
			<%= image_tag @user.profile_image.to_s, size: '150x150', :style => "border-radius: 5%;" %>
		</div>
		<div class="col-md-5">
			<p>ニックネーム: <%= @user.name %></p>
			<p>メール: <%= @user.email %></p>
			<p>ひとこと: <%= @user.introduction %></p>
<!-- フォローボタン -->
			<span class="btn-social-long-twitter">
				<span><%=link_to "フォロー", follows_user_path(@user.id),
				 :style => "color: white; text-decoration: none;" %>
				</span>
			    <%= @user.followings.count %>
			</span>
			<span class="btn-social-long-twitter">
				<span><%=link_to "フォロワー", followers_user_path(@user.id), :style => "color: white; text-decoration: none;" %>
				</span>
				   <%= @user.followers.count %>
			</span>
<!-- ------------- -->
<!-- フォロー追加解除 -->
		<% if current_user != @user %>
	    	<% if @user.followed_by?(current_user) %>
	        	<p class="btn btn-danger btn-sm">
	        		<%=link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, "data-confirm" => 'フォロー解除しますか？', :style => "color: white; text-decoration: none;" %></p>
	    	<% else %>
	    	<span class="btn-social-long-twitter"><i class="fab fa-twitter fa-lg"></i>
	        	<span>
	        	<%=link_to "フォローする", user_relationships_path(@user.id), method: :post,
	        	 :style => "text-decoration: none;" %>
	        	</span>
	        </span>
	    	<% end %>
		<% end %>
<!-- ------------- -->
		</div>
		<div class="col-md-4">
			<% if @user.id == current_user.id %>
			<span class="btn btn-danger"> <%= link_to '編集', edit_user_path(@user.id), :style => "color: white; text-decoration: none;" %>
			</span>
			<% end %>
		</div>
	</div>
</div>
</br></br>
<div class="container">
	<div class="row">
		<h4><strong>レシピ一覧</strong></h4></br>
		<% @recipes.each do |recipe| %>
			<div class="col-md-2">
				<%= link_to recipe_path(recipe.id) do %>
				<p><%= recipe.title %></p>
				<%= attachment_image_tag recipe, :image, format: 'jpg', fallback: 'noimage.jpg', size: '75x75', class: "recipe-image" %></br></br>
				<% end %>
			</div>
		<% end %>
	</div>
	<%= paginate @recipes %>
</div>






