
	<div class="row">
<% if @user.id == current_user.id %>
	<p class="sub-title"><strong>マイページ</strong></p></br>
<% else %>
	<p class="sub-title"><strong>ユーザーページ</strong>
		<% if @user.followed_by?(current_user) %>
			<label class="follow-name"><%= @user.name %>さんをフォローしています</label>
		<% end %>
	</p></br>
<% end %>
		<div class="col-md-3">
			<%= image_tag @user.profile_image.to_s, size: '200x200', :style => "border-radius: 50%;" %>
		</div>
		<div class="col-md-9">
			<p class="username-text"><%= @user.name %></p>
			<p class="useremail-text"><%= @user.email %></p></br>
			<p class="userbody-text"><%= @user.introduction %></p>
		</br>
<!-- フォローボタン -->
			<span class="btn-social-long-twitter">
				<span><i class="fab fa-twitter fa-lg"></i><%=link_to "フォロー", follows_user_path(@user.id),
				 :style => "color: white; text-decoration: none;" %>
				</span>
			    <%= @user.followings.count %>
			</span>
			<span class="btn-social-long-twitter">
				<span><i class="fab fa-twitter fa-lg"></i><%=link_to "フォロワー", followers_user_path(@user.id), :style => "color: white; text-decoration: none;" %>
				</span>
				   <%= @user.followers.count %>
			</span>
<!-- ------------- -->
<!-- フォロー追加解除 -->
		<% if current_user != @user %>
	    	<% if @user.followed_by?(current_user) %>
	        	<p class="btn btn-danger btn-sm mypage-edit">
	        		<i class="fas fa-trash-alt fa-lg"></i><%=link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, "data-confirm" => 'フォロー解除しますか？', :style => "text-decoration: none; color: #FAFAFA;" %></p>
	    	<% else %>
	    		<span class="btn btn-default btn-sm mypage-edit">
	        	<%=link_to user_relationships_path(@user.id), method: :post,
	        	 :style => "text-decoration: none;" do %>
	        		<i class="fas fa-user-plus fa-lg"></i>
	        	<% end %>
	        	</span>
	    	<% end %>
		<% end %>
<!-- マイページeditボタン -->
			<% if @user.id == current_user.id %>
				<span class="btn btn-default btn-sm mypage-edit"> <%= link_to edit_user_path(@user.id) do %>
					<i class="fas fa-user-edit fa-lg"></i>
					<% end %>
				</span>
			<% end %>
		</div>
	</div>
</br></br>

	<div class="row">
		<p class="sub-title"><strong><%= @user.name %>さんの投稿レシピ</strong></p></br>
		<% @recipes.each do |recipe| %>
			<div class="col-md-3">
				<%= link_to recipe_path(recipe.id) do %>
					<%= attachment_image_tag recipe, :image, format: 'jpg', fallback: '/images/order_noimage.jpg', size: '110x110', class: "recipe-image" %>
					<div class="recipe-text-over">
						<p class="userbody-text"><%= recipe.title %></p>
					</div>
					</br>
				<% end %>
			</div>
		<% end %>
	</div>
	<%= paginate @recipes %>







