

<div id="form-main clearfix">
  <div id="form-div">
  <p class="sub-title"><strong>ログイン</strong></p></br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p class="email">
      <p>メール<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate[required,custom[email]] feedback-input', id: 'email', placeholder: "Email" %></p>
    </p>
    <p class="text">
      <p>パスワード<%= f.password_field :password, autocomplete: "current-password", class: "validate[required,length[6,300]] feedback-input", id: "comment", placeholder: "Password" %></p>
    </p>

    <div class="actions">
      <%= f.submit "Log in", id: "button-blue" %>
    </div>
  <% end %>
    </br>
    <%= link_to "ゲストでログイン", root_path %>
  </div>
</div>

