<!DOCTYPE html>
<html>
  <head>
    <title>Otokomeshi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="msg">
            <% if flash[:notice] %>
              <%= flash[:notice] %>
            <% end %>
          </div>
          <div class="col-md-1">
            <label> <%= link_to image_tag('otokomeshi.png', size: '100x100'), root_path %>
                    </label>
          </div>
          <div class="col-md-5">
          </br>
             <label class="logo-text"> <%= link_to image_tag('otoko-title.jpg', size: '200x20'), root_path %></label>
          </div>
          </br>
          <div class="col-md-6">
    <!-- アイコン -->
          <div class="icons">
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                  <p class="icon-text"><i class="fas fa-door-open fa-2x"></i>
                  <span>ログアウト</span></p>
              <% end %>
              <%= link_to user_registration_path, method: :delete, "data-confirm" => "本当に退会しますか？" do %>
                  <p class="icon-text"><i class="fas fa-user-alt-slash fa-2x"></i>
                  <span>退会</span></p>
              <% end %>
              <% if current_user.try(:admin?) %>
                  <%= link_to "/admin" do %>
                    <p class="icon-text"><i class="fas fa-user-secret fa-2x"></i>
                    <span>管理人</span></p>
                  <% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_registration_path do %>
                <p class="icon-text"><i class="fas fa-user-plus fa-2x"></i>
                <span>新規登録</span></p>
              <% end %>
              <%= link_to new_user_session_path do %>
                <p class="icon-text"><i class="fas fa-sign-in-alt fa-2x"></i>
                <span>ログイン</span></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <!-- ナビバー -->
      <div class="row">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav navbar-center">
        <% if user_signed_in? %>
              <li> <%= link_to '漢飯とは？', about_path %></li>
              <li> <%= link_to 'レシピ投稿', new_recipe_path %></li>
              <li> <%= link_to 'お気に入り一覧', myfavorites_path %></li>
              <li> <%= link_to 'マイページ', user_path(current_user.id) %></li>
              <li class="searchbox">
              <%= search_form_for @search, url: searchs_path do |f| %>
                <span><%= f.text_field :title_cont, placeholder: 'レシピ名を入力...' %></span>
                <label><%= f.submit "検索", class: 'search-btn'%></label>
              <% end %>
              </li>
          </ul>
        <% else %>
            <ul class="nav navbar-nav navbar-center">
              <li> <%= link_to '漢飯とは？', about_path %></li>
              <li class="searchbox2">
                <%= search_form_for @search, url: searchs_path do |f| %>
                  <span><%= f.text_field :title_cont, placeholder: 'レシピ名を入力...' %></span>
                    <label><%= f.submit "検索", class: 'search-btn'%></label>
                <% end %>
              </li>
            </ul>
        </nav>
        <% end %>
      </div>

    </header>
    <%= yield %>

    <div class="container">
      <div class="row">
        <footer>
          <p>Copyright <img src="/assets/otoko-logo.jpg" height="18" width="18"> 2019 Otokomeshi All Rights Reserved.</p>
        </footer>
      </div>
    </div>

  </body>
</html>
