<!DOCTYPE html>
<html>
  <head>
    <title>Otokomeshi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <label> <%= link_to image_tag('otokomeshi.png', size: '90x90'), root_path %>
                    </label>
          </div>
          <div class="col-md-5">
             <label class="logo-text"> <%= link_to image_tag('otoko-title.jpg', size: '200x20'), root_path %>
                    </label>
                  </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="header-nav">

            <% if user_signed_in? %>
              <span class="btn btn-danger"> <%= link_to 'トップ', root_path, 
              :style => "color: white; text-decoration: none;" %></span>
              <span class="btn btn-danger"> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :style => "color: white; text-decoration: none;" %>
                     </span>
              <span>退会</span>
                <% if current_user.try(:admin?) %>
                  <span class="btn btn-danger"> <%= link_to "管理画面", "/admin", 
                  :style => "color: white; text-decoration: none;" %></span>
                <% end %>

             <% else %>

              <span> <%= link_to 'トップ', root_path %></span>
              <span> <%= link_to '新規登録', new_user_registration_path %></span>
              <span> <%= link_to 'ログイン', new_user_session_path %></span>

            <% end %>
            </div>
          </div>
        </div>
          <% if flash[:notice] %>
          <%= flash[:notice] %>
          <% end %>
      </div>
    </header>

    <!-- ナビバー -->
      
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li> <%= link_to 'レシピ投稿', new_recipe_path %></li>
              <li> <%= link_to 'お気に入り一覧', myfavorites_path %></li>
              <li> <%= link_to 'マイページ', user_path(current_user.id) %></li>
            <% end %>
              <li><form class="navbar-form">
                  <div class="form-group">
                      <input type="text" size="50" class="form-control" placeholder="キーワード">
                  </div>
                      <button type="submit" class="btn btn-info">検索</button>
                  </form>
              </li>
          </ul>
        </nav>

    <%= yield %>

    <footer>
      <p>Copyright © 2019 Otokomeshi All Rights Reserved.</p>
    </footer>

  </body>
</html>
